@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*
	box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	&.ishome
		.site-header
			min-height: 600px
			height: 100vh
			background-color: #111
			color: white
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1


.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase


.text-center
	text-align: center

@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)

.preloader
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 100
	background-color: #111

.pulse
	position: relative
	left: 50%
	top: 50vh
	margin-left: -40px
	margin-top: -40px
	&:before, &:after
		content: ''
		border: 5px solid #323232
		width: 80px
		height: 80px
		border-radius: 500px
		position: absolute
	&:before
		animation: pulse-outer 0.8s ease-in infinite
	&:after
		animation: pulse-inner 0.8s linear infinite

@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)

@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)




section, header
	position: relative
	background-size: cover
	background-position: center
section
	background-color: #FFF
	&.inverse
		color: white
		background-color: #111
		&.s-call
			background-color: #FFF
	.h2
		font-size: 30px
		font-weight: 800
		color: $accent
		span
			color: white


	nav
		.nav-bottom
			background-color: #fff
		.nav-bottom	 
			background-color: #272727

.logo
	padding-top: 40px
	padding-bottom: 40px
	img
		width: 140px
		height: auto

.navigation
	padding-top: 40px
	padding-bottom: 40px
	.navigation-list
		margin: 0
		padding: 0
		list-style-type: none
		display: flex
		flex-direction: row
		justify-content: flex-end
		text-transform: uppercase
		.list-item
			padding-left: 30px				
			a
				color: #777
				font-family: 'Montserrat'
				font-weight: 700
				font-size: 14px
				text-decoration: none
				transition: .3s ease-out
				&:hover, &:focus, &:active
					color: #5fcf80
					border-bottom: 1px solid #7cc576
			.active
				color: #5fcf80
		
.header-banner
	padding-top: 80px
	padding-bottom: 80px
	min-height: 400px
	text-align: center
	background-image: linear-gradient(to bottom, rgba(48,56,83,0) 40%, #303853 60%, #303853 100%),url(../img/bg.png)
	background-position-x: 100%,100%
	background-position-y: 0,-200px
	background-size: cover
	background-repeat: no-repeat,no-repeat
	background-color: #303853
	background-attachment: fixed,fixed
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	h1
		font-family: 'Montserrat'
		font-weight: 700
		color: #fff
		text-transform: uppercase
		font-size: 60px
		line-height: 65px
		letter-spacing: -2px
	.subtitle
		font-size: 20px
		color: #ccc
		font-family: 'Roboto Slab'
	.button
		display: inline-block
		margin-top: 50px
		margin-bottom: 30px
		background-color: #7cc576
		border-radius: 60px
		padding: 20px 35px
		color: #fff 
		text-transform: uppercase
		font-size: 16px
		font-family: 'Montserrat'
		font-weight: 700
		text-shadow: 0px 1px 1px rgba(34, 129, 26, 1)
		transition: .3s ease-out
		&:hover
			text-decoration: none
			background-color: #67b760
		&:active
			text-decoration: none
			background-color: #92d68d
		&:focus
			text-decoration: none


@import "media"